.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #f6f9f9;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.header-txt {
	color: #1ba94c;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.App-link {
	color: #09d3ac;
}
